@model IList<WebApplication6.Models.Reservation>

Rezerwacje

@foreach(var reservation in Model)
{
      var movie = reservation.Screening.Movie;
      var base64 = Convert.ToBase64String(movie.Poster);
      var imgSrc = $"data:image/jpeg;base64,{base64}";
      
      <div class="reservation" id="@reservation.Id">
            <div class="movie">
                  <img class="movie--poster" src="@imgSrc" />
                  <div class="movie--info">
                        <span class="movie--title">@movie.Title</span>
                        <div class="movie__details">
                              <span class="movie__details--duration">@reservation.Screening.ScreeningDate</span>
                        </div>
                        <div class="tickets">
                              <div class="tickets--amount">Ilość miejsc: @reservation.Seats.Count</div>
                              @foreach (var seat in reservation.Seats)
                              {
                                    <div class="ticket">rząd: @(seat.ColNumber + 1), miejsce: @(seat.RowNumber + 1)</div>
                              }
                        </div>
                  </div>
                  <button class="reservation--cancel" id="cancelReservation" data-id="@reservation.Id">Anuluj rezerwacje</button>
            </div>
      </div>
}

<script>
  const buttons = document.getElementsByClassName('reservation--cancel');
  for (let button of buttons) {
      const id = button.getAttribute('data-id');
      button.onclick = (() => {
        $.ajax({
              url: 'https://localhost:7152/Home/CancelReservation',
              type: 'DELETE',
              dataType: 'json',
              data: { 
                  ReservationId: id
              } ,
              cache: false,
              success: function (result) {
                  alertSuccess('Anulowano rezerwacje!', 5000);
                  document.getElementById(id).remove();
              },
              error: function (xhr, ajaxOptions, thrownError) {
                  alert(xhr.status);
                  alert(thrownError);
              }
          });
      })
  }
</script>